* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

.navbar {
    width: 100%;
    height: 5em;
    background-color: rgba(107, 166, 214, 0.80);
    box-shadow: 2px 2px 2px black;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: indianred;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .1rem;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: grey;
}


.title {
    height: 85.1vh;
    background-image: url(https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?cs=srgb&dl=asphalt-auto-automobile-164634.jpg&fm=jpg);
    background-size: cover;
    position: relative;
}

.jumbotron {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 75%;
    transform: translateX(-20%);
    border: 2px dotted black;
}

.login {
    background-color: grey;
}

.store-name {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1em;
    color: white;
    text-shadow: 1rem 1rem 1rem black;
}

.loginForm {
    font-weight: bolder;
}

.footer {
    text-align: center;
    width: 100%;
    height: 5em;
    background-color: rgba(107, 166, 214, 0.90);
}
.footer p {
    font-size: 2em;
}

.fa-car {
    font-size: 5em;
    color: grey;
    margin-left: 0.5em;
}

.welcarous img {
    position: absolute;
    top: 50%;
    height: 50px;
}